In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [5]:
df=pd.read_excel("C:/Users/Tushar/Desktop/CO2 data.xlsx")

In [6]:
df.head()

   Year      CO2
0  1800  0.00568
1  1801  0.00561
2  1802  0.00555
3  1803  0.00548
4  1804  0.00542

In [7]:
df.tail()

     Year   CO2
210  2010  15.6
211  2011  15.6
212  2012  14.8
213  2013  14.7
214  2014  15.1

In [9]:
df = pd.get_dummies(df, columns = ['CO2'])

In [11]:
t= np.arange(1,43)